html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

button{
    border: none;
    padding: 0;
    border-radius: 0;
}

.container{
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.menu__btn{
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span{
    height: 1px;
    background-color: #7b6152;
    width: 100%;
}

.header{
    background-color: #FFF8F3;
}

.header__inner{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

.menu__list-link:hover{
    box-shadow: 0.2px 0.2px 5px black;
    border-radius: 10px;
    padding:5px;
    background-color:#BEA495;
    transition: all 0.1s;
}

.phone{
    position: relative;
}

.phone::before{
    content: '';
    position: absolute;
    background-image: url(../images/phone.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    top: -4px;
}














.main{
    background-color: #FFF8F3;
    overflow-x: clip;
}

.top{
    padding: 40px 0 150px;
    position: relative;
}
.top__inner{
    position: relative;
}
.top__content{
    width: 370px;
    padding: 150px 0 250px;
}
.top__title{
    font-family: 'Yeseva One', cursive;
    font-size: 29px;
    margin-bottom: 15px;
}
.top__text{
    margin-bottom: 48px;
}
.top__buy{
    padding: 18px 54px;
    background-color: #ffbd59;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.top__img{
    position: absolute;
    top: 0;
    left: 240px;
}





.about{
    background-color: #A5978E;
    padding: 50px 0;
    color: #FAFAFA
}
.about__inner{
    display: flex;
    align-items: center;
}
.about__content{
    min-width: 370px;
}
.about__title{
    margin-bottom: 15px;
    font-size: 40px;
}
.about__text{
    margin-bottom: 15px;
}
.about__list{
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding-left: 110px;
    padding-bottom: 48px;
    flex-basis: 930px;
    position: relative;
}
.about__list::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/about-decor.png);
    width: 22px;
    height: 30px;
}
.about__list::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 13px;
    background-color: #7B6152;
    width: 1000%;
    height: 1px;
}
.about__item-img{
    margin-bottom: 10px;
}
.about__item-text{
    font-size: 11px;
}















.footer{
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    width: 230px;
}

.email{
    margin: 17px 0;
}

.footer__social{
    display: flex;
    gap: 15px;
}


















@media (max-width: 1000px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .top__content{
        width: 333px;
        padding: 95px 0 70px;
    }
    .top__img-l{
        width: 655px;
    }
    .top__img{
        left: 300px;
    }
    .top__text{
        margin-bottom: 30px;
    }
    .about__content {
        min-width: 300px;
    }
    .about__list {
        padding-left: 20px;
    }
}

@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__contacts{
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .footer__social{
        justify-content: center;
    }
}

@media (max-width: 768px) {
    body{
        font-size: 10px;
    }
    .container{
        max-width: 640px;
    }
    .phone::before{
        background-image: url(../images/phone.svg);
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
        background-size: cover;
    }
    .top__content{
        width: 230px;
    }
    .top__title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .top__text{
        margin-bottom: 20px;
    }
    .top__img{
        left: 180px;
    }
    .about__content{
        min-width: 200px;
    }
    .title{
        font-size: 15px;
    }
    .about__title{
        margin-bottom: 20px;
    }
    .about__list{
        margin-left: 14px;
        padding-bottom: 32px;
        gap: 0 9px;
    }
    .about__item-text{
        font-size: 6px;
    }
    .about__item-img{
        margin-bottom: 6px;
    }
    .about__item-img--1,
    .about__item-img--3{
        width: 120px;
    }
    .about__item-img--2 {
        width: 190px;
    }
}

@media (max-width: 640px) {
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__menu-list{
        width: 153px;
        background-color: #7b6152;
        color:#FFF8F3;
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px;
        border-radius: 0 0 20px 0;
        /* text-align: center; */
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-110%);
        transition: transform .5s ease;
        z-index: 5;
    }
    .header__menu-list.menu--open{
        transform: translateY(0);
    }
    .menu__btn {
        display: flex;
    }
    .header__menu{
        order: 1;
    }
}

@media (max-width: 500px) {
    .footer__inner {
        flex-direction: column;
    }
    .footer__menu-list {
        flex-direction: column;
        padding: 50px 0;
        text-align: center;
    }
    .footer {
        padding: 50px 0;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .top__img-l{
        width: 309px;
        left: 167px;
    }
    .top__content{
        width: 180px;
    }
    .top__title{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .top__text{
        font-size: 8px;
        margin-bottom: 15px;
    }
    .top__buy{
        font-size: 10px;
        padding: 14px 41px;
    }
    .top{
        padding: 30px 0 50px;
    }
    .about__content{
        min-width: 170px;
    }
    .about__list{
        margin-left: 0;
        padding-left: 10px;
    }
    .about__item-text{
        display: none;
    }
    .about__item-img--1,
    .about__item-img--3 {
        width: 80px;
    }
    .about__item-img--2 {
        width: 140px;
    }
    .about__list{
        gap: 0 10px;
        align-items: flex-end;
        margin-bottom: 0;
    }
    .about__inner{
        align-items: flex-end;
    }
}

@media (max-width: 360px) {
    .top__img-l{
        width: 185px;
    }
    .top__img{
        left: auto;
        right: 0;
    }
    .top__content {
        width: 200px;
        padding: 20px 0 0;
    }
    .top__title {
        font-size: 17px;
    }
    .top__text {
        font-size: 9px;
        position: relative;
        z-index: 1;
    }
    body{
        font-size: 8px;
    }
    .about__content{
        min-width: 233px;
    }
    .title{
        margin-bottom: 10px;
    }
    .about__list{
        padding-left: 12px;
        margin-left: 12px;
        gap: 0 15px;
        padding-bottom: 30px;
    }
    .about{
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .about__item-img--2{
        display: none;
    }
}